<div class="friend-detail-container" *ngIf="friend">
  <app-card [padded]="false">
    <div title>
      Detail uživatele
    </div>
    <app-friend [friends]="[friend]" [clickable]="false" (removeFriend)="removeFriend($event)"></app-friend>
  </app-card>
  <div class="books-shelves">
    <div class="column">
      <app-card>
        <div>Poličky uživatele</div>
      </app-card>
      <app-card [padded]="false" *ngFor="let shelf of friend.shelves">
        <app-shelf [editable]="false"  [shelf]="shelf" (copyShelf)="copyShelf($event)" ></app-shelf>
      </app-card>
    </div>
    <div class="column">
      <app-card [padded]="false" >
        <div title>Knihy uživatele</div>
        <div class="books-holder">
            <div class="book" *ngFor="let book of friend.books">
              <app-book-preview  [book]="book"></app-book-preview>
            </div>
        </div>
      </app-card>
    </div>
  </div>
</div>