<div class="friend-detail-container" *ngIf="friend">
  <app-card [padded]="false">
    <div title>
      Detail uživatele
    </div>
    <app-friend [friends]="[friend]" [clickable]="false" (removeFriend)="removeFriend($event)"></app-friend>
  </app-card>
  <div class="books-shelves">
    <div class="column">
      <app-card [padded]="false">
       <div title>Poličky uživatele</div>
        <app-shelf [editable]="false" *ngFor="let shelf of friend.shelves" [shelf]="shelf" class="shelf"></app-shelf>
      </app-card>
    </div>
    <div class="column">
      <app-card [padded]="false">
        <div title>Knihy uživatele</div>
        <div class="books-holder">
          <app-card [padded]="false" *ngFor="let book of friend.books">
            <div class="book">
              <app-book-preview  [book]="book"></app-book-preview>
            </div>
          </app-card>
        </div>
      </app-card>
    </div>
  </div>
</div>