<div class="landing-container">
  <div class="auth-section">
    <div class="logo-container">
      <img src="assets/1009-200.png" alt="" class="logo">
    </div>
    <div class="name">Elektronický čtenářský deník</div>
    <div class="forms-container">

      <form novalidate #f="ngForm" (ngSubmit)="login(f.value)" [@login]="loginState" (@login.done)="loginDone()">
        <md-input-container class="input-container" [dividerColor]="userName.invalid && userName.touched ? 'yellow' : 'primary'">
          <input mdInput placeholder="Email"
                 type="text"
                 name="userName"
                 ngModel
                 required
                 #userName="ngModel"
                 class="input"
          >
          <md-hint *ngIf="userName.invalid && userName.touched" class="alert" align="start">
            Email musí být zadaný
          </md-hint>
        </md-input-container>
        <md-input-container class="input-container" [dividerColor]="userPassword.invalid && userPassword.touched ? 'warn' : 'primary'">
          <input mdInput placeholder="Heslo"
                 type="password"
                 name="password"
                 ngModel
                 required
                 minlength="6"
                 #userPassword="ngModel"
                 autocomplete="new-password"
                 class="input"
          >
          <md-hint *ngIf="userPassword.invalid && userPassword.touched" class="alert" align="start">
            Heslo musí být delší než 5 znaků
          </md-hint>
        </md-input-container>
        <span class="error" [ngClass]="{'visible': errorMessage.length}">{{errorMessage}}</span>
        <button class="button login" type="submit" md-raised-button color="primary" [disabled]="f.invalid">Přihlásit se</button>
      </form>
      <form novalidate #reg="ngForm" (ngSubmit)="register(reg.value)" [@register]="registerState">
        <md-input-container class="input-container" [dividerColor]="regUserName.invalid && regUserName.touched ? 'warn' : 'primary'">
          <input mdInput placeholder="Uživatelské jméno"
                 type="text"
                 name="userName"
                 ngModel
                 required
                 #regUserName="ngModel"
                 class="input"
          >
          <md-hint *ngIf="regUserName.invalid && regUserName.touched" class="alert" align="start">
            Uživatelské jméno musí být zadané
          </md-hint>
        </md-input-container>
        <md-input-container class="input-container" [dividerColor]="regEmail.invalid && regEmail.touched ? 'warn' : 'primary'">
          <input mdInput placeholder="Email"
                 type="email"
                 name="email"
                 ngModel
                 required
                 pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                 #regEmail="ngModel"
                 class="input"
          >
          <md-hint *ngIf="regEmail.invalid && regEmail.touched" class="alert" align="start">
            Emailová adresa není platná
          </md-hint>
        </md-input-container>
        <md-input-container class="input-container" [dividerColor]="regUserPass.invalid && regUserPass.touched ? 'warn' : 'primary'">
          <input mdInput placeholder="Heslo"
                 type="password"
                 name="password"
                 ngModel
                 required
                 minlength="6"
                 #regUserPass="ngModel"
                 validateEqual="confirmPassword" reverse="true"
                 autocomplete="new-password"
                 class="input"
          >
          <md-hint *ngIf="regUserPass.invalid && regUserPass.touched" class="alert" align="start">
            Heslo musí být delší než 5 znaků
          </md-hint>
        </md-input-container>
        <md-input-container class="input-container" [dividerColor]="regUserConfirm.invalid && regUserConfirm.touched ? 'warn' : 'primary'">
          <input mdInput placeholder="Potvrzení hesla"
                 type="password"
                 name="confirmPassword"
                 ngModel
                 required
                 minlength="6"
                 #regUserConfirm="ngModel"
                 validateEqual="password"
                 autocomplete="new-password"
                 class="input"
          >
          <md-hint *ngIf="regUserConfirm.invalid && regUserConfirm.touched" class="alert" align="start">
            Hesla musí být shodná
          </md-hint>
        </md-input-container>
        <span class="error" [ngClass]="{'visible': errorMessage.length}">{{errorMessage}}</span>
        <button type="submit" class="button login" md-raised-button color="primary" [disabled]="reg.invalid">Registrovat</button>
      </form>
    </div>

    <div class="forgot-pass" [style.display]="show === 'login' && showReset ? 'block' : 'none'">
      <app-dropdown-row>
        <div class="header" row-header>Zapomenuté heslo / Změna hesla</div>
        <div class="change-form" dropdown-content>
          <div class="header">Zadejte email účtu, pro který chcete provést změnu hesla. Na tento email vám bude zaslán resetovací link.</div>
          <form novalidate #reset="ngForm" (ngSubmit)="resetPassword(reset.value)">
            <md-input-container class="input-container" [dividerColor]="changeEmail.invalid && changeEmail.touched ? 'warn' : 'primary'">
              <input mdInput placeholder="Email Address"
                     type="email"
                     name="email"
                     ngModel
                     required
                     pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                     #changeEmail="ngModel"
                     class="input"
              >
              <md-hint *ngIf="changeEmail.invalid && changeEmail.touched" class="alert" align="start">
                Emailová adresa není platná
              </md-hint>
            </md-input-container>
            <span class="error" [ngClass]="{'visible': errorMessage.length}">{{errorMessage}}</span>
            <button class="button login" type="submit" md-raised-button color="primary" [disabled]="reset.invalid">Poslat email</button>
          </form>
        </div>
      </app-dropdown-row>
    </div>
    <div class="socials">
      <button class="button facebook" md-raised-button color="primary" (click)="fb()">
        <img src="assets/fb.png">
        Přihlásit se přes Facebook
      </button>
      <button class="button google" md-raised-button color="primary" (click)="google()">
        <img src="assets/google-plus.svg">
        Přihlásit se přes Google+
      </button>
    </div>
    <div class="signup" *ngIf="show === 'login'">Ještě nemáte účet?
      <span class="reg" routerLink="/landing/register">Registrujte se</span>
    </div>
    <div class="signup" *ngIf="show === 'register'"> Zpět na
      <span class="reg" routerLink="/landing/login">přihlášení</span>
    </div>
  </div>
  <div class="title">
    <div class="text-container">
      <div class="title-text">
        Elektronický čtenářský deník
      </div>
      <div class="info">
        <div class="text">Vyhledávejte, rozřazujte a trackujte čas čtení</div>
        <div class="text">Vašich oblíbených knih.</div>
      </div>
    </div>
  </div>
</div>
