@import '../../theme';

$avatar-size: 40px;
$avatar-color: white;
$user-item-margin: 10px;
$toolbar-font: $font-medium;
$toolbar-background-color: $card-background-color;


.toolbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $toolbar-height;
  background-color: rgba($toolbar-background-color, .9);
  color: rgba(white, .75);
  flex-grow: 1;
  font-size: $toolbar-font-size;
  padding: 0 10px;
  font-family: $toolbar-font;

  .router-container{
    display: flex;
    height: 100%;

    .router-item{
      padding: 0 10px;
      display: flex;
      align-items: center;
      height: 100%;
      outline: none;
      cursor: pointer;
      border-right: 1px solid rgba($font-color, .4);
      &.active{
        background-color: rgba(white, .15);
      }
      &:hover{
        background-color: rgba(white, .2);
      }
    }
  }
  .tracking-user{
    display: flex;
    align-items: center;

    .tracking{
      margin-right: $user-item-margin*3;
    }

    .user{
      display: flex;
      align-items: center;
      outline: none;
      cursor: pointer;
      .avatar{
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        border: 2px solid $avatar-color;
        font-size: $avatar-size;
        color: darken($avatar-color, 25%);
        margin-right: $user-item-margin;
      }

      .name{
        margin-right: $user-item-margin;
      }
      .friends{
        position: relative;
        margin-right: $user-item-margin*2;
        margin-left: -4px;
        .dropdown{
          position: absolute;
          top: 100%;
          right: 0;
          overflow: hidden;
          background-color: lighten(brown, 6%);
        }

        .friend-counter{
          position: relative;
          cursor:pointer;
          .count{
            border-radius: 50%;
            background-color: #f44336;
            color: white;
            padding: 2px;
            width: 10px;
            height: 10px;
            font-size: 10px;
            text-align: center;
            position: absolute;
            bottom: 0;
            right: -4px;
          }
        }

      }

      .arrow{
        font-size: 26px;
        margin-top: -6px;
        padding-left: 5px;
        border-left: 1px solid rgba(white, .5);
        cursor: pointer;

      }
    }
  }




}

