<app-card>
  <div title>{{'books.yourBooks' | translate}}</div>
    <div class="sort-row">
      <div class="input-holder">
        <md-input-container class="input-container">
          <input mdInput type="text" class="input" [(ngModel)]="pattern" (ngModelChange)="search()"
                 placeholder="{{'books.searchAmongBooks' | translate}}">
          <i class="material-icons clear" [ngClass]="{'visible': pattern.length}" mdSuffix (click)="clearPattern($event)">clear</i>
        </md-input-container>
      </div>
      <div class="buttons">
        <app-dropdown [closeOnClick]="true" [dropdownId]="'statusSelect'" [buttonTitle]="selected | bookStatus | translate" class="dropdown">
          <div class="select-dropdown">
            <div class="item" *ngFor="let item of [0,1,2,3,4]" (click)="selectNewBooks(item)"
                 [ngClass]="{'selected': selected === item}">
              <span class="name"> {{ item | bookStatus | translate}}</span>
            </div>
          </div>
        </app-dropdown>
        <app-dropdown [closeOnClick]="true" [dropdownId]="'fileSelect'" [buttonTitle]="'books.generateList' | translate" class="dropdown ">
          <div class="select-dropdown">
            <div class="item" (click)="generatePdf()">
              <span class="name">PDF</span>
            </div>
            <div class="item" (click)="generateTxt()">
              <span class="name">TXT</span>
            </div>
          </div>
        </app-dropdown>
      </div>
  </div>
</app-card>
<app-card *ngIf="!selectedBooks.length" class="nothing">
  <app-nothing >
    {{'books.noBooks' | translate}}
  </app-nothing>
</app-card>

<div class="books-container">
  <app-card [padded]="false" *ngFor="let book of selectedBooks" (click)="goToDetail(book.id)">
    <div class="book">
      <app-book-preview [book]="book"></app-book-preview>
    </div>
  </app-card>
</div>
