<div class="book-preview-container" (mouseenter)="hover()" (mouseleave)="leave()">
  <div class="photo" [style.backgroundImage]="sanitize(book.imageUrl)" [@hover]="state">
    <div class="photo-title">
      {{book.title}}
    </div>
  </div>
  <div class="book-info">
    <div class="item">
      <div class="label">{{'book.title' | translate}}</div>
      <div class="value">{{book.title | truncate:40}}</div>
    </div>
    <div class="item">
      <div class="label">{{'book.author' | translate}}</div>
      <div class="value">{{book.author}}</div>
    </div>
    <div class="item" *ngIf="book?.status >= 0">
      <div class="label">{{'book.status' | translate}}</div>
      <div class="value">{{book.status | bookStatus | translate}}</div>
    </div>
  </div>
</div>
