@import '../../theme';

.book-preview-container {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  &:hover {
    .photo-title {
      opacity: 0 !important;
    }
  }

  .photo {
    background-size: cover;
    background-position: center center;
    position: absolute;
    border-radius: 2px;

    .photo-title {
      text-align: center;
      padding: 20px 10px;
      margin-top: 60px;
      background-color: rgba($card-background-color, .9);
      color: white;
      opacity: 1;
      transition: opacity .2s;
    }
  }

  .book-info {
    display: flex;
    box-sizing: border-box;
    padding: 20px 10px;
    width: calc(60% - 10px);
    height: 100%;
    flex-direction: column;
    overflow: hidden;

    .item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .label {
        font-size: 16px;
        color: rgba($font-color, $label-color-opacity);
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .value {
        font-size: 14px;
        word-wrap: break-word;
      }
    }
  }
}