<div class="comment-container" [ngClass]="{'editable': editable}">
  <img [src]="avatarUrl" class="avatar" *ngIf="commentData?.userAvatar">
  <i class="material-icons avatar" *ngIf="!commentData?.userAvatar">person</i>
  <div class="content">
    <div class="title-row">
      <div class="title">
        <div class="username">{{commentData.userName}}</div>
        <div class="name">{{commentData.firstName.length > 0 ? commentData.firstName : '' }} {{commentData.lastName.length > 0 ? commentData.lastName : '' }}</div>
      </div>
      <div class="right-section">
        <div class="time">{{time}}</div>
        <i class="material-icons edit">mode_edit</i>
      </div>
    </div>
    <div class="edit-comment">
      <div #commentEdit class="text editable" [ngClass]="{'focused': focused}" (paste)="pasteToInput($event)" (click)="setEditable()" (focus)="removePlaceholder()" (blur)="setPlaceholder()">
        {{commentData.text.length > 0 ? commentData.text : commentPlaceholder}}
      </div>
      <div class="buttons">
        <app-loading-button [loading]="loading" [title]="'Odebrat komentář'" [color]="'warn'" class="button" (click)="remove()" *ngIf="commentData.id && editable"></app-loading-button>
        <app-loading-button [loading]="loading" [title]="'Přidat komentář'" class="button" (click)="add()" *ngIf="!commentData.id"></app-loading-button>
        <app-loading-button [loading]="loading" [title]="'Upravit komentář'" class="button" (click)="edit()" *ngIf="commentData.id && editable"></app-loading-button>
      </div>
    </div>
  </div>
</div>
