.card-container {
  padding: 20px;
  background-color: #fff;
  //background-color: rgba(white, .1);
  margin: 10px;
  border-radius: 2px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
}