@import '../../theme';

$avatar-size: 40px;
$avatar-color: white;
$user-item-margin: 10px;

.toolbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $toolbar-height;
  background-color: black;
  flex-grow: 1;
  font-size: $toolbar-font-size;
  color: $toolbar-font-color;
  font-weight: $toolbar-weight;
  padding: 0 10px;

  .router-container{
    display: flex;
    height: 100%;

    .router-item{
      padding: 0 10px;
      display: flex;
      align-items: center;
      height: 100%;
      outline: none;
      cursor: pointer;
      &.active{
        background-color: rgba(white, .15);
      }
      &:hover{
        background-color: rgba(white, .2);
      }
    }
  }
  .tracking-user{
    display: flex;
    align-items: center;

    .tracking{
      margin-right: $user-item-margin*3;
    }

    .user{
      display: flex;
      align-items: center;
      .avatar{
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        border: 2px solid $avatar-color;
        font-size: $avatar-size;
        color: darken($avatar-color, 25%);
        margin-right: $user-item-margin;
      }

      .name{
        margin-right: $user-item-margin;
      }

      .arrow{
        font-size: 26px;
        margin-top: 3px;
      }
    }
  }




}

