@import '../../theme';

$avatar-size: 40px;

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $toolbar-height;
  padding: 10px 0 10px 10px;
  color: $toolbar-font-color;
  font-size: $toolbar-font-size;
  font-weight: $toolbar-weight;
  box-sizing: border-box;

  background-image: $toolbar-background-color;

  .logo {
    font-family: hand-written;
    font-weight: normal;
    font-size: 26px;
  }

  .quick-search {
    display: flex;
    align-items: center;

    .search-icon {
      padding-right: 5px;
    }

    input {
      border: none;
      background: transparent;
      height: 40px;
      width: 300px;
      transition: width 1s, color 1s, outline 1s, ease;
      color: $toolbar-font-color;
      font-size: $toolbar-font-size;
      font-weight: $toolbar-weight;
      outline: 1px solid darken(#584C43, 2%);
      padding-left: 20px;

      &:focus {
        outline: 3px solid #584C43;
        width: 600px;
        color: lighten($toolbar-font-color, 5%);

      }
    }
  }

  .user-section {
    display: flex;
    align-items: center;
    .user {
      margin-left: 20px;
      display: flex;
      align-items: center;
      .avatar {
        border-radius: 50%;
        width: $avatar-size;
        height: $avatar-size;
      }

      .name {
        margin-left: 10px;
      }

      .arrow {
        padding: 0 20px;
      }
    }

  }
}