@import '../../theme';

$tabs-color: #f44336;
$book-source-width: 200px;
$space-between: 15px;

$label-color: black;
$label-size: 16px;

$content-color: rgba(black, .87);
$content-size: 15px;

$tabs-item-height: 40px;
$arrow-size: 40px;

.book-detail-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .action-dropdown {
    display: flex;
    flex-direction: column;
    background-color: $dropdown-color;

    .item {
      padding: 15px 10px;
      transition: background-color .5s, color .5s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.selected {
        background-color: $dropdown-selected-color !important;
        color: white !important;
      }
      &.new {
        flex-direction: column;
        background-color: $dropdown-color !important;
        align-items: flex-end;
        &:hover{
          background-color: $dropdown-color !important;
        }
        .button {
          font-size: 14px;
          i {
            font-size: 16px;
          }
        }
      }
      .item-icon {
        font-size: 20px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $divider-color;
      }
      &:hover {
        cursor: pointer;
        background-color: $dropdown-hover-color !important;
        color: white;
      }
    }
  }

  .actions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .actions {
      display: flex;
      align-items: center;

      .action-item {
        &:not(:last-child) {
          margin-right: 25px;
        }
      }
      .button {
        height: 36px;
      }
    }

    .source-name {
      font-family: $font-medium;
      font-size: 20px;
      margin-right: 15px;
    }
  }

  .book-info {
    display: flex;

    .source {
      .triangle {
        width: 0;
        height: 0;
        border-left: $arrow-size solid $dropdown-selected-color;
        border-top: $arrow-size/2 solid transparent;
        border-bottom: $arrow-size/2 solid transparent;
      }

      .tabs-container {
        display: flex;
        flex-direction: column;
        min-width: $book-source-width;

        .item {
          display: flex;
          height: $tabs-item-height;
          padding: 10px 0;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;

          &:not(:last-child) {
            border-bottom: 1px solid rgba(black, .2);
          }

          &:hover {
            cursor: pointer;
            background-color: $dropdown-hover-color;
          }
        }
      }
      .selected-tab {
        background-color: $dropdown-selected-color;
        &:hover {
          background: linear-gradient(to right, darken($dropdown-selected-color, 10%), $dropdown-selected-color) !important;
        }
      }
    }

    .info {
      flex-grow: 1;
      margin-left: $space-between;
      .info-obal{
        display: flex;
        flex-direction: column;
        .origin{
          align-self: flex-end;
          display: flex;
          align-items: center;
          .text{
            font-size: 12px;
            font-style: italic;
            margin-right: 5px;
            text-decoration: none;
          }
          .logo{
            width: 100px;
          }
        }
        .info-container {
          display: flex;
          flex-grow: 1;

          .cover {

          }

          .details {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 0;
          }

          .description {
            margin-left: 30px;
            margin-right: 20px;
            text-align: justify;
            flex-grow: 4;
            flex-basis: 0;
          }
        }
      }
      .label {
        font-size: $label-size;
        color: rgba($font-color, $label-color-opacity);
        text-transform: uppercase;
        font-weight: bold;
      }

      .content {
        font-size: $content-size;
        padding-left: 10px;

        &:not(:first-child) {
          padding-bottom: 10px;
        }
      }
      .reading {
        display: flex;
        flex-direction: column;
        .title-row {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
          border-bottom: 1px solid rgba($font-color, .2);
          .reading-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 8px;
          }

        }
        .reading-info-row {
          display: flex;
          .reading-left-column {
            display: flex;
            flex-direction: column;
            margin-right: 30px;
          }
          .reading-table-column {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .reading-table {
              .table-item {
                flex-grow: 1;
                flex-basis: 0;
                font-size: 16px;
                color: $font-color;
                display: flex;
                align-items: center;
                padding: 5px 15px;
                border-bottom: 1px solid $divider-color;
                &:not(:last-child) {
                  margin-right: 3px;
                }
                &.header {
                  color: rgba($font-color, $label-color-opacity);
                  font-weight: bold;
                  font-size: $label-size;
                  padding-top: 10px;
                  padding-bottom: 10px;
                  border-bottom: 2px solid $divider-color !important;
                }
                &.footer-item {
                  padding: 10px 15px;
                  &:first-child {
                    margin-right: 0;
                  }
                  background-color: rgba(black, .07) !important;
                }
              }
              .table-row {
                display: flex;
                margin-bottom: 3px;

                &.header-row {
                  border-top: 1px solid $divider-color;
                }

                &:nth-child(even) {
                  .table-item {
                    background-color: rgba(black, .03);
                  }
                }

                &.footer {
                  margin-bottom: 0;

                }

              }
            }
          }
        }
      }
    }
  }

  .buy {
    app-card{
      width: 100%;
    }
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    &.column{
      flex-direction: column;
      .image-link{
        margin-right:0;
        &:not(:last-child){
          margin-bottom: 30px
        }
      }
    }
    .image-link {
      img {
        width: 150px;
        height: 30px;
        transition: transform .3s;
        &:hover{
          transform: scale(1.15);
        }
      }
      text-decoration: none;
      margin-right: 30px;
    }

  }

  .comments {
    display: flex;

    app-comment {
      width: 100%;
    }

    .my-comment {
      display: flex;
      margin-right: 20px;
      flex-grow: 1;
      flex-basis: 0;
      overflow: hidden;
    }
    .other-comments {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;
      border-left: 1px solid gray;
      padding-left: 19px;
      overflow: hidden;
    }
  }

  .educational{
    .header{
    }

    .education-content {
      margin-top: 30px;
    }
  }

  .similar-books-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    height: $book-height;
    padding: 6px 0;
    &.hidden{
      display: none;
    }
    .navigate{
      position: absolute;
      background-color:lighten($card-background-color, 10%);
      width: 50px;
      height: $book-height + 12px;
      z-index: 2;
      display: flex;
      align-items: center;
      border-radius: 2px;
      cursor: pointer;
      justify-content: center;
      &:hover{
        background-color: lighten($card-background-color, 20%);
      }
      .arrow{
        font-size: 40px;
      }
      &.left{
        top: 0;
        left: 0;
      }
      &.right{
        top: 0;
        right: 0;
      }
    }
    .sweeper{
      display: flex;
      position: absolute;
      padding-left: 55px;
      .book {
        max-height: $book-height;
        min-height: $book-height;
        min-width: $book-width;
        max-width: $book-width;
        box-shadow: $card-on-card-shadow;
        &:not(:last-child) {
          margin-right: 15px;
        }
    }
    }
  }
}