<div class="searcher-container">
  <i class="material-icons search-icon">search</i>
  <input type="text" class="search-input" title="Search" placeholder="{{'books.searchNewBooks' | translate}}" (blur)="hideDropdown()" (focus)="displayDropdown()" [ngModel]="key"
         (ngModelChange)="changed($event)">
  <md-spinner [ngClass]="{'hidden': !loading}"></md-spinner>
  <div class="dropdown " [@expandable]="state">
    <div class="book" *ngFor="let book of books" (click)="selected(book)">
      <div class="summary">
        <div class="title">{{book.title}}</div>
        <div class="author">{{book.author}}</div>
      </div>
      <img [src]="book.imageUrl" class="cover">
    </div>
  </div>
</div>



