$toolbar-font-size: 20px;
$toolbar-weight: bold;
$toolbar-font-color: #917865;
$toolbar-height: 60px;

$side-nav-color: #272522;
$side-nav-text-color: #917865;
$side-nav-font-size: 26px;
$side-nav-height: 60px;

$loader-background-color: #816955;
$loader-spinner-color: #40352B;

$book-height: 250px;
$book-width: 200px;
$book-background: linear-gradient(150deg, rgba(#f44336, .9) 40%, rgba(#f44336, .05));





$font-bold: Diavlo;
$font-medium: Diavlo-MEDIUM;
$font-light: Diavlo-LIGHT;
$font-book: Diavlo-BOOK;

$card-background: rgba(#40352B, .7);
$card-background-color: #40352B;
$card-background-opacity: .7;


