@import '../../theme';

.book-preview-container {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  background: $book-background;
  &:hover {
    .photo-title {
      opacity: 0 !important;
    }
  }

  .photo {
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center center;
    position: absolute;

    .photo-title {
      width: 100%;
      text-align: center;
      padding: 20px 10px;
      background: linear-gradient(to right, rgba(black, 0) 0%, rgba(black, .9) 25%, rgba(black, .9) 75%, rgba(black, 0) 100%);
      color: white;
      opacity: 1;
      transition: opacity .2s;
    }
  }

  .book-info {
    display: flex;
    box-sizing: border-box;
    padding: 20px 10px;
    width: calc(60% - 10px);
    height: 100%;
    flex-direction: column;
    overflow: hidden;

    .item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .label {
        font-size: 14px;
        color: rgba(black, .54);
        margin-bottom: 5px;
      }
      .value {
        font-size: 16px;
        color: rgba(black, .87);
        word-wrap: break-word;
      }
    }
  }
}