@import '../../theme';

$padding: 20px;
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color .5s;
  padding: $padding;

  &.expanded {
    background-color: lighten($card-background-color, 7%);
    color: white;
  }
  &:hover {
    cursor: pointer;
    .dropdown-icon {
      width: 24px !important;
      opacity: 1 !important;
      margin-left: 15px;
    }
  }

  .name-container {
    display: flex;
    align-items: center;
    .name {
      min-width: 20px;
      padding: 8px 8px;
      transition: background-color .5s;
      outline: none;
      border: none;
      background-color: transparent;
      border-radius: 2px;
      &:focus{
        background-color: lighten($card-background-color, 15%);
      }
      &:hover{
        background-color: lighten($card-background-color, 10%);
      }
    }
    .shelf-count {
      margin-left: 15px;
      border-radius: 50%;
      background-color: $dropdown-hover-color;
      color: white;
      padding: 5px;
      width: 16px;
      height: 16px;
      font-size: 16px;
      text-align: center;
    }
  }
  .actions {
    display: flex;
    align-items: center;

    .button {
      margin-left: 15px;
    }
    .dropdown-icon {
      width: 0;
      opacity: 0;
      color: white;
      transition: all .5s;
      &.expanded {
        transform: rotate(180deg);
        width: 24px !important;
        opacity: 1 !important;
        margin-left: 15px;

      }
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;

  .book {
    margin: 10px;
    height: $book-height;
    width: $book-width;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);

  }

}