@import "../theme";
$latest-width: 250px;
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .toolbar{
    width: 100%;
    position: fixed;
    z-index: 99;
  }

  .latest{
    right: 0;
    top: $toolbar-height;
    position: fixed;
    height: calc(100vh - #{$toolbar-height});
    overflow: auto;
    width: $latest-width;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity .5s;
    border-left: 1px solid rgba(black, .6);
    &.loading {
      opacity: 0;
    }

    .card-content{
      display: flex;
      flex-direction: column;
    }

    .book{
      height: $book-height - 30px;
      margin-top: 30px;
      opacity: .85;
      transition: opacity .3s;
      &:hover{
        opacity: 1;
      }
      &:last-child{
        margin-bottom: 30px;
      }
    }
  }

  .content {
    margin-top: $toolbar-height;
    overflow: hidden;
    width: calc(100% - #{$latest-width});

  }
}