<div class="container">
  <app-toolbar class="toolbar"></app-toolbar>
  <div class="content">
      <router-outlet></router-outlet>
  </div>
  <div class="latest" [ngClass]="{'loading': loading}">
    <app-card >
      <div title>{{'books.recentBooks' | translate}}</div>
      <div class="card-content">
        <app-book-preview
          *ngFor="let book of books"
          [book]="book"
          class="book"
          (click)="redirectToDetail(book.id)"></app-book-preview>
      </div>
    </app-card>
  </div>
</div>