<app-card>
  <div title>Vaše poličky</div>
  <div class="input-row">
    <md-input-container class="input">
      <input mdInput placeholder="Název nové poličky" type="text" [(ngModel)]="shelfName">
    </md-input-container>
    <button md-raised-button color="primary" [disabled]="unique" (click)="addShelf()">Přidat poličku</button>
  </div>
</app-card>

<app-card *ngFor="let shelf of shelves" [padded]="false">
  <app-shelf [shelf]="shelf"
             [shelfNames]="shelfNames"
             (removeShelf)="deleteShelf($event)"
             (goToDetail)="goToDetail($event)"
             (updateShelf)="editShelf($event)" ></app-shelf>
</app-card>
