<app-card>
  <div title>{{'shelves.yourShelves' | translate}}</div>
  <div class="input-row">
    <md-input-container class="input">
      <input mdInput placeholder="{{'shelves.newShelf' | translate}}" type="text" [(ngModel)]="shelfName">
    </md-input-container>
    <app-loading-button [loading]="loading"  [color]="'primary'" [disabled]="unique" (click)="addShelf()" [title]="'shelves.addShelf' | translate"></app-loading-button>
  </div>
</app-card>

<app-card *ngFor="let shelf of shelves" [padded]="false">
  <app-shelf [shelf]="shelf"
             [loading]="loading"
             [shelfNames]="shelfNames"
             (removeShelf)="deleteShelf($event)"
             (goToDetail)="goToDetail($event)"
             (updateShelf)="editShelf($event)"></app-shelf>
</app-card>

<app-card *ngIf="shelves.length === 0">
<app-nothing>{{'shelves.noShelves' | translate}}</app-nothing>
</app-card>
