<app-card>
  <h1>Your Shelves</h1>
  <div class="input-row">
    <md-input-container class="input">
      <input mdInput placeholder="New shelf name" type="text" [(ngModel)]="shelfName">
    </md-input-container>
    <button md-raised-button color="primary" [disabled]="unique" (click)="addShelf()">Add shelf</button>
  </div>
  <app-shelf *ngFor="let shelf of shelves"
             [shelf]="shelf"
             [shelfNames]="shelfNames"
             (removeShelf)="deleteShelf($event)"
             (goToDetail)="goToDetail($event)"
  (updateShelf)="editShelf($event)" ></app-shelf>
</app-card>