@import '../../theme';
.comment-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;

  &.editable:hover {
    .edit {
      width: 20px !important;
      margin-left: 10px;
      opacity: 1 !important;
    }
  }
  .avatar {
    height: 40px;
    width: 40px;
    font-size: 40px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .title-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .title{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        .username{
          font-size: 15px;
        }
        .name{
          font-size: 14px;
        }
      }

      .right-section {
        display: flex;
        align-items: center;

        .edit {
          width: 0;
          opacity: 0;
          transition: all .5s;
          cursor: pointer;
          color: $font-color;
        }
      }
    }
    .edit-comment {
      display: flex;
      flex-direction: column;
      .text {
        padding: 10px;
        text-align: justify;
        width: 100%;
        box-sizing: border-box;
        min-height: 38px;
        border-radius: 2px;
        background-color: lighten($card-background-color, 10%);
        outline: none;
        transition: background-color .3s;
        &.focused {
          background-color: lighten($card-background-color, 15%);
        }
      }
      .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        .button {
          margin-left: 10px;
        }
      }
    }
  }
}
