@import '../../theme';

$label-color: black;
$label-size: 16px;

$content-color: rgba(black, .87);
$content-size: 15px;

.statistics-container{
  display: flex;
  flex-direction: column;
  color: $font-color;
  .summary{
    display: flex;
    .summary-column{
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;

      .label {
        font-size: $label-size;
        color: rgba($font-color, $label-color-opacity);
        text-transform: uppercase;
        font-weight: bold;
      }

      .content {
        font-size: $content-size;
        padding-left: 10px;
        padding-bottom: 10px;

        &:not(:last-child) {
          padding-bottom: 10px;
        }
      }

      &.left{
        border-right: 1px solid $divider-color;
        margin-right: 20px;
      }
    }
  }

}

.statistics{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  .buttons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
.dropdown{
  margin-left: 20px;
  &.button{
    width: 162px;
  }
  .action-dropdown {
    display: flex;
    flex-direction: column;
    background-color: $dropdown-color;

    .item {
      padding: 8px 10px;
      transition: background-color .5s, color .5s;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: normal;
      color: $font-color;
      .name{
        &:first-letter{
          text-transform: capitalize;
        }
      }
      &.selected {
        background-color: $dropdown-selected-color !important;
        color: white !important;
      }
      &:not(:last-child) {
        border-bottom: 1px solid rgba(black, .1);
      }
      &:hover {
        cursor: pointer;
        background-color: $dropdown-hover-color !important;
        color: white;
      }
    }
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .title{
    display: flex;
    align-items: flex-end;
  }
}

.small{
  font-size: 12px;
  margin-left: 10px;
}