<ng-template #spinner>
  <md-spinner style="margin: 0 auto;">
  </md-spinner>
</ng-template>
<app-card>
  <div title>{{'statistics.summary' | translate}}</div>
  <div class="statistics-container">
    <div class="summary" *ngIf="statistic; else spinner">
      <div class="summary-column left">
        <div class="label">{{'statistics.bookCount' | translate}}</div>
        <div class="content">{{statistic.booksCount}}</div>
        <div class="label">{{'statistics.readCount' | translate}}</div>
        <div class="content">{{statistic.booksRead}}</div>
        <div class="label">{{'statistics.readingCount' | translate}}</div>
        <div class="content">{{statistic.booksReading}}</div>
        <div class="label">{{'statistics.toReadCount' | translate}}</div>
        <div class="content">{{statistic.booksToRead}}</div>
        <div class="label">{{'statistics.notReadCount' | translate}}</div>
        <div class="content">{{statistic.booksNotRead}}</div>
      </div>
      <div class="summary-column" >
        <div class="label">{{'statistics.timeSpentReading' | translate}} <span class="small">{{'statistics.intervalSum' | translate}}</span></div>
        <div class="content">{{spentReading}}</div>
        <div class="label">{{'statistics.mostRead' | translate}}</div>
        <div class="content">{{statistic.mostlyRead.title.length > 0 ? statistic.mostlyRead.title : '-'}}</div>
      </div>
    </div>
  </div>
</app-card>
<app-card>
  <app-dropdown-row (isExpanded)="monthExpanded($event)">
    <div class="header" row-header>
      <div class="title">
        <span>{{'statistics.intervalTimeline' | translate}} {{selectedMonth.name}}/{{selectedYear}}  </span>
        <span class="small">{{'statistics.intervalTimelineDesc' | translate}}</span>
      </div>
      <div class="small">
        {{monthTimelineExpanded ? ('statistics.hide' | translate) : ('statistics.show' | translate)}}
      </div>
    </div>
    <div class="statistics" dropdown-content>
      <div class="buttons">
        <app-dropdown class="dropdown" [dropdownId]="'monthSelect'" [buttonTitle]="selectedMonth.name" [closeOnClick]="true">
          <div class="action-dropdown">
            <div class="item" *ngFor="let month of months"
                 (click)="selectMonth(month)"
                 [ngClass]="{'selected': selectedMonth.name === month.name}">
              <span class="name">{{month.name}}</span>
            </div>
          </div>
        </app-dropdown>
        <app-dropdown class="dropdown" [dropdownId]="'yearSelect'" [buttonTitle]="selectedYear" [closeOnClick]="true">
          <div class="action-dropdown">
            <div class="item" *ngFor="let year of years"
                 (click)="selectYear(year)"
                 [ngClass]="{'selected': selectedYear === year}">
              <span class="name">{{year}}</span>
            </div>
          </div>
        </app-dropdown>
      </div>
      <div *ngIf="intervalsLoading; then spinner"></div>
      <app-nothing *ngIf="!intervalsLoading && !intervals.length">
        {{'statistics.intervalNoBooks' | translate}}
      </app-nothing>
      <div #monthTimeline></div>
    </div>
  </app-dropdown-row>
</app-card>
<app-card>
  <app-dropdown-row (isExpanded)="yearExpanded($event)">
    <div class="header" row-header>
      <div class="title">
        <span>{{'statistics.allTimeline' | translate}} </span>
        <span class="small">{{'statistics.allTimelineDesc' | translate}}</span>
      </div>
      <div class="small">
        {{yearTimelineExpanded ? ('statistics.hide' | translate) : ('statistics.show' | translate)}}
      </div>
    </div>
    <div class="statistics" dropdown-content>
      <div *ngIf="readingsLoading; then spinner"></div>
      <app-nothing *ngIf="!readingsLoading && !wholeTimeReading.length">
        {{'statistics.noBooksRead' | translate}}
      </app-nothing>
      <div #yearTimeline></div>
    </div>
  </app-dropdown-row>
</app-card>

