@import '../../theme';
.nothing-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: rgba($font-color, $label-color-opacity);
  text-transform: uppercase;
}