<div class="profile-container" *ngIf="user">
    <app-card class="user-info-card">
      <div title>Uživatelské údaje</div>
      <div class="user-info">
        <div class="photo-row">
          <img class="photo" [src]="avatarUrl" *ngIf="user.avatar.length > 0" (click)="openFile()">
          <i class="material-icons photo" *ngIf="user.avatar.length === 0" (click)="openFile()">person</i>
          <input #photoInput type="file" style="display: none;" (change)="uploadFile()" accept="image/jpeg, image/png">
          <md-input-container class="nickname">
            <input
              mdInput
              minlength="1"
              maxlength="25"
              type="text"
              placeholder="Nickname"
              [(ngModel)]="user.userName">
          </md-input-container>
        </div>
        <div class="details">
          <md-input-container class="detail-input">
            <input
              mdInput
              type="text"
              placeholder="First Name"
              [(ngModel)]="user.firstName">
          </md-input-container>
          <md-input-container class="detail-input">
            <input
              mdInput
              type="text"
              placeholder="Last Name"
              [(ngModel)]="user.lastName">
          </md-input-container>
          <app-loading-button
            class="button"
            [color]="'primary'"
            [loading]="loading"
            [title]="'Submit changes'"
            (click)="editUser($event)">
          </app-loading-button>
        </div>
      </div>
    </app-card>

  <div class="friends-section">
    <app-card class="friend-card">
      <div title>Vyhledávejte přátele</div>
      <div class="searcher-container" #dropdown>
        <i class="material-icons search-icon">search</i>
        <input type="text"
               class="search-input"
               placeholder="Hledej podle jména, příjmení, přezdívky či emailu"
               (focus)="showDropdown()"
               ngModel
               (ngModelChange)="changed($event)"
        >
        <md-spinner *ngIf="searcherLoading"></md-spinner>
        <div class="dropdown" [@expandable]="state">
          <div class="container">
            <div class="friend" *ngFor="let person of people">
              <div class="user">
                <div class="avatar-container">
                  <img [src]="avatar(person.avatar)" *ngIf="person.avatar.length > 0" class="avatar">
                  <i class="material-icons avatar" *ngIf="person.avatar.length === 0">person</i>
                </div>
                <div class="info">
                  <div class="item">{{person.userName}}</div>
                  <div class="item">{{person.firstName}} {{person.lastName}}</div>
                </div>
              </div>
              <div class="buttons">
                <button class="button" md-raised-button color="primary" *ngIf="shouldAddRequest(person.id)" (click)="sendRequest(person.id)">Poslat žádost</button>
                <button class="button" md-raised-button color="warn" *ngIf="shouldRemoveRequest(person.id)" (click)="removeRequestFromSearcher(person.id)">Zrušit žádost</button>
                <button class="button" md-raised-button color="warn" *ngIf="shouldRemoveFromFriends(person.id)" (click)="removeFriend(person.id)" >Odebrat z přátel</button>
                <div class="tmp" *ngIf="shouldDeclineOrAccept(person.id)" style="display: flex;">
                  <button class="button" md-raised-button color="primary" (click)="acceptRequestFromSearcher(person.id)" >Příjmout</button>
                  <button class="button" md-raised-button color="warn" (click)="declineRequestFromSearcher(person.id)" >Odmítnout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card>
    <div class="requests">
      <app-card class="friend-card" [padded]="false">
        <div title>
          Příchozí žádosti o přátelství
        </div>
        <app-friend-request (decline)="declineRequest($event)" (accept)="acceptRequest($event)" [requests]="incomingFriendRequests"></app-friend-request>
      </app-card>
      <app-card class="friend-card" [padded]="false">
        <div title>
         Odeslané žádosti o přátelství
        </div>
        <app-friend-request [outgoing]="true" [requests]="outgoingFriendRequests" (remove)="removeRequest($event)" ></app-friend-request>
      </app-card>
    </div>

    <app-card class="friend-card" [padded]="false">
      <div title>Vaši přátelé</div>
      <app-friend [friends]="friends" (goToDetail)="goToDetail($event)" (removeFriend)="removeFriend($event)" ></app-friend>
    </app-card>
  </div>
  </div>
