<div class="profile-container" *ngIf="user">
    <app-card class="user-info-card">
      <div class="user-info">
        <div class="photo-row">
          <img class="photo" [src]="avatarUrl" (click)="openFile()">
          <input #photoInput type="file" style="display: none;" (change)="uploadFile()" accept="image/jpeg, image/png">
          <md-input-container class="nickname">
            <input
              mdInput
              type="text"
              placeholder="Nickname"
              [disabled]="true"
              [ngModel]="user.userName">
          </md-input-container>
        </div>
        <div class="details">
          <md-input-container class="detail-input">
            <input
              mdInput
              type="text"
              placeholder="First Name"
              [(ngModel)]="user.firstName">
          </md-input-container>
          <md-input-container class="detail-input">
            <input
              mdInput
              type="text"
              placeholder="Last Name"
              [(ngModel)]="user.lastName">
          </md-input-container>
          <md-input-container class="detail-input" [dividerColor]="email.invalid && email.touched ? 'warn' : 'primary'">
            <input
              mdInput type="text"
              placeholder="Email"
              pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
              #email="ngModel"
              [(ngModel)]="user.email">
            <md-hint *ngIf="email.invalid && email.touched" class="alert" align="start">
              Email address is NOT valid
            </md-hint>
          </md-input-container>
          <app-loading-button
            class="button"
            [color]="'primary'"
            [loading]="loading"
            [title]="'Submit changes'"
            [disabled]="email.invalid"
            (click)="editUser($event)">
          </app-loading-button>
        </div>
      </div>
    </app-card>

  <div class="friends-section">
    <app-card class="friend-card">
      <div title>Vyhledávejte přátele</div>
      <div class="searcher-container" #dropdown>
        <i class="material-icons search-icon">search</i>
        <input type="text"
               class="search-input"
               placeholder="Hledej podle jména, příjmení, přezdívky či emailu"
               (focus)="showDropdown()"
               ngModel
               (ngModelChange)="changed($event)"
        >
        <md-spinner *ngIf="searcherLoading"></md-spinner>
        <div class="dropdown" [@expandable]="state">
          <div class="container">
            <div class="friend" *ngFor="let person of people">
              <div class="user">
                <div class="avatar-container">
                  <img [src]="avatar(person.avatar)" *ngIf="person.avatar.length > 0" class="avatar">
                  <i class="material-icons avatar" *ngIf="person.avatar.length === 0">person</i>
                </div>
                <div class="info">
                  <div class="item">{{person.userName}}</div>
                  <div class="item">{{person.firstName}} {{person.lastName}}</div>
                </div>
              </div>
              <div class="buttons">
                <button md-raised-button color="primary" (click)="sendRequest(person.id)">Poslat žádost</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card>
    <app-card class="friend-card" [padded]="false">
      <div title>
        Žádosti o přátelství
      </div>
      <app-friend-request (decline)="declineRequest($event)" (accept)="acceptRequest($event)" [requests]="friendRequests"></app-friend-request>
    </app-card>
    <app-card class="friend-card" [padded]="false">
      <div title>Vaši přátelé</div>
      <app-friend [friends]="friends" (goToDetail)="goToDetail($event)"></app-friend>
    </app-card>
  </div>
  </div>
