<app-card>
  <div class="profile-container" *ngIf="user">
    <app-card class="user-info-card">
      <div class="user-info">
        <div class="photo-row">
          <img class="photo" src="assets/photo.png">
          <md-input-container class="nickname">
            <input
              mdInput
              type="text"
              placeholder="Nickname"
              [disabled]="true"
              [ngModel]="user.userName">
          </md-input-container>
        </div>
        <div class="details">
          <md-input-container class="detail-input">
            <input
              mdInput
              type="text"
              placeholder="First Name"
              [(ngModel)]="user.firstName">
          </md-input-container>
          <md-input-container class="detail-input">
            <input
              mdInput
              type="text"
              placeholder="Last Name"
              [(ngModel)]="user.lastName">
          </md-input-container>
          <md-input-container class="detail-input" [dividerColor]="email.invalid && email.touched ? 'warn' : 'primary'">
            <input
              mdInput type="text"
              placeholder="Email"
              pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
              #email="ngModel"
              [(ngModel)]="user.email">
            <md-hint *ngIf="email.invalid && email.touched" class="alert" align="start">
              Email address is NOT valid
            </md-hint>
          </md-input-container>
        </div>
        <app-dropdown-row class="dropdown">
          <div class="buttons" row-header>
            <button class="button" md-raised-button color="primary">Change password</button>
            <app-loading-button
              class="button"
              [color]="'primary'"
              [loading]="loading"
              [title]="'Submit changes'"
              [disabled]="email.invalid"
              (click)="editUser($event)">
            </app-loading-button>
          </div>
          <div class="password-change" dropdown-content>
            <form novalidate #f="ngForm" (ngSubmit)="editPassword(f.value)" class="password-form">
              <div class="password-inputs">
                <md-input-container class="password-input"
                                    [dividerColor]="oldPassword.invalid && oldPassword.touched ? 'warn' : 'primary'">
                  <input
                    mdInput type="password"
                    name="oldPassword"
                    ngModel
                    required
                    minlength="6"
                    #oldPassword="ngModel"
                    placeholder="Current password"
                    autocomplete="new-password">
                  <md-hint *ngIf="oldPassword.invalid && oldPassword.touched" class="alert" align="start">
                    Password is not valid
                  </md-hint>
                </md-input-container>
                <md-input-container class="password-input"
                                    [dividerColor]="newPassword.invalid && newPassword.touched ? 'warn' : 'primary'">
                  <input
                    mdInput
                    type="password"
                    name="password"
                    ngModel
                    required
                    minlength="6"
                    #newPassword="ngModel"
                    validateEqual="confirmPassword" reverse="true"
                    placeholder="New password"
                    autocomplete="new-password">
                  <md-hint *ngIf="newPassword.invalid && newPassword.touched" class="alert" align="start">
                    Password has to be at least 6 characters long
                  </md-hint>
                </md-input-container>
                <md-input-container class="password-input"
                                    [dividerColor]="confirmPassword.invalid && confirmPassword.touched ? 'warn' : 'primary'">
                  <input
                    mdInput
                    type="password"
                    name="confirmPassword"
                    ngModel
                    required
                    minlength="6"
                    #confirmPassword="ngModel"
                    validateEqual="password"
                    placeholder="Confirm password"
                    autocomplete="new-password">
                  <md-hint *ngIf="confirmPassword.invalid && confirmPassword.touched" class="alert" align="start">
                    Confirm password has to be same as password above
                  </md-hint>
                </md-input-container>
              </div>
              <div class="right">
                <div class="error" *ngIf="errorMessage.length">
                  {{errorMessage}}
                </div>
                <div class="submit">
                  <app-loading-button
                    class="button"
                    [color]="'primary'"
                    [loading]="passwordLoading"
                    [title]="'Save new password'"
                    [disabled]="f.invalid"
                  >
                  </app-loading-button>
                </div>
              </div>

            </form>
          </div>
        </app-dropdown-row>
      </div>
    </app-card>

    <app-card class="friends-card">
      <div class="friends">
        FRIENDS SECTION
      </div>
    </app-card>
  </div>
</app-card>
