<div class="container">
  <div class="friend" *ngFor="let friend of friends" (click)="detail(friend)" [ngClass]="{'clickable': clickable}">
    <div class="user">
      <div class="avatar-container">
        <img [src]="avatar(friend.avatar)" *ngIf="friend.avatar.length > 0" class="avatar">
        <i class="material-icons avatar" *ngIf="friend.avatar.length === 0">person</i>
      </div>
      <div class="info">
        <div class="item">{{friend.userName}}</div>
        <div class="item">{{friend.firstName}} {{friend.lastName}}</div>
      </div>
      <div class="info">
        <div class="item">Přátelé od:</div>
        <div class="item shift">{{getDate(friend.since)}}</div>
      </div>
      <div class="info">
        <div class="item">Knih:</div>
        <div class="item shift">{{friend.booksCount}}</div>
      </div>
      <div class="info">
        <div class="item">Poliček:</div>
        <div class="item shift">{{friend.shelvesCount}}</div>
      </div>
    </div>
    <div class="buttons">
      <button md-raised-button color="warn" (click)="remove(friend,$event)">Odebrat z přátel</button>
    </div>
  </div>
</div>
