/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ng2-toastr/bundles/ng2-toastr.min.css';
@import '~vis/dist/vis.css';
@import 'app/_theme.scss';

body {
  padding: 0;
  margin: 0;
  min-width: 1100px;

  background-image: url('assets/background/1.jpg');
  background-size: cover;

  .vis-timeline{
    background-color: rgba(goldenrod, .05);
    border: 1px solid rgba(goldenrod, .2);
  }
  .vis-item{
    border: 2px solid rgba(goldenrod, .3);
    font-size: 16px;
    color: rgba(black, .87);
    background-color: rgba(goldenrod, .25);
    &.vis-selected{
      background-color: rgba(goldenrod, .5);
      border-color: rgba(goldenrod, .7);
    }
  }
  .vis-label, .vis-time-axis.vis-foreground{
    background-color: rgba(goldenrod, .1);
  }
}

md-spinner {
  height: 100% !important;
  /deep/ path {
    stroke: $font-color !important;
  }
}

.mat-raised-button{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.mat-raised-button.mat-warn{
    background-color: brown !important;
}

.mat-raised-button.mat-primary{
  background-color: #917865;
}

 span.mat-placeholder-required {
  display: none;
}

 .mat-input-placeholder {
  color: white !important;
  &.mat-warn {
    color: goldenrod;
  }
}

 .mat-input-underline {
  border-color: white;
  .mat-input-ripple {
    background-color: white;
  }
}

 .mat-input-invalid {
  .mat-input-underline {
    border-color: goldenrod !important;
    .mat-input-ripple {
      background-color: goldenrod !important;
    }
  }
  .mat-input-placeholder {
    color: goldenrod !important;
  }
}

 .mat-select-trigger, .mat-select-value, .mat-select-arrow{
   color: white !important;
 }

 .mat-select-value{
  font-family: $font-book !important;
 }

 .mat-option {
   color: white !important;
   font-family: $font-book;
   background-color: $dropdown-color !important;
   &:hover{
     background-color: $dropdown-hover-color !important;
   }
   &.mat-selected{
     background-color: $dropdown-selected-color !important;
   }
 }

.mat-select-underline{
  background-color: white !important;
}

textarea{
  font-family: $font-book !important;
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: Diavlo;
  src: url('assets/font/Diavlo_BOLD_II_37.woff') format('woff');
}

@font-face {
  font-family: Diavlo-MEDIUM;
  src: url('assets/font/Diavlo_MEDIUM_II_37.woff') format('woff');
}

@font-face {
  font-family: Diavlo-LIGHT;
  src: url('assets/font/Diavlo_LIGHT_II_37.woff') format('woff');
}

@font-face {
  font-family: Diavlo-BOOK;
  src: url('assets/font/Diavlo_BOOK_II_37.woff') format('woff');
}



