<app-card>
  <h2>My Books</h2>
  <div class="sort-row">
    <app-dropdown [closeOnClick]="true" [buttonTitle]="selected | bookStatus" class="dropdown">
      <div class="select-dropdown">
        <div class="item" *ngFor="let item of [0,1,2,3,4]" (click)="selectNewBooks(item)"
             [ngClass]="{'selected': selected === item}">
          <span class="name"> {{ item | bookStatus}}</span>
        </div>
      </div>
    </app-dropdown>
    <div class="input-holder">
      <md-input-container class="input-container">
        <input mdInput type="text" class="input" [(ngModel)]="pattern" (ngModelChange)="search()"
               placeholder="Search in books by author or title">
        <i class="material-icons clear" [ngClass]="{'visible': pattern.length}" mdSuffix (click)="clearPattern($event)">clear</i>
      </md-input-container>
    </div>
  </div>
  <div class="books-container">
    <app-card noPaddingCard *ngFor="let book of selectedBooks" (click)="goToDetail(book.id)">
      <div class="book">
        <app-book-preview [book]="book"></app-book-preview>
      </div>
    </app-card>
    <app-nothing *ngIf="!selectedBooks.length" class="nothing">
      sorry fella no books!
    </app-nothing>
  </div>
</app-card>