@import '../../theme';

.sort-row {
  display: flex;
  padding: 0 10px;
  align-items: center;
  width: 50%;
  app-card {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .input-holder {
    width: 100%;
    margin-left: 30px;
    .input-container {
      width: 100%;
      .input {
        width: 100%;
      }
      .clear {
        font-size: 18px;
        color: #673AB7;
        opacity: 0;
        transition: opacity .3s;
        cursor: pointer;
        &.visible {
          opacity: 1;
        }
      }
    }
  }
  .dropdown {
    .select-dropdown {
      display: flex;
      flex-direction: column;
      background-color: white;

      .item {
        padding: 15px 10px;
        transition: background-color .7s, color .7s;
        display: flex;
        justify-content: space-between;
        &.selected {
          background-color: #f44336 !important;
          color: white !important;
        }
        &:not(:last-child) {
          border-bottom: 1px solid rgba(black, .1);
        }
        &:hover {
          cursor: pointer;
          background-color: #f44336;
          color: white;
        }
      }
    }
  }
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .nothing {
    width: 100%;
    margin-top: 20px;
  }

  .book {
    height: $book-height;
    width: $book-width;
  }
}