<app-dropdown-row (isExpanded)="setStatus($event)" *ngIf="shelf">
    <div class="header" row-header [ngClass]="{'expanded': status}">
      <div class="name-container">
        <div #shelfName class="name" *ngIf="editable" contenteditable="true" (click)="$event.stopPropagation()" (input)="getName()">
          {{shelf.name}}
        </div>
        <div  class="name" *ngIf="!editable">
          {{shelf.name}}
        </div>
        <div class="shelf-count">
          {{shelf.books.length}}
        </div>
      </div>
      <div class="actions">
        <app-loading-button class="button" [loading]="loading" [color]="'primary'" *ngIf="editable" [disabled]="unique" (click)="editShelf($event)" [title]="'Přejmenovat poličku'"></app-loading-button>
        <app-loading-button class="button" [loading]="loading" [color]="'warn'" *ngIf="editable" (click)="deleteShelf(shelf.id, $event)" [title]="'Smazat poličku'"></app-loading-button>
        <app-loading-button class="button" [loading]="loading" [color]="'primary'" *ngIf="!editable" (click)="copyShelfF(shelf.id, $event)" [title]="'Zkopírovat poličku'"></app-loading-button>
        <i class="material-icons dropdown-icon" [ngClass]="{'expanded': status}">arrow_drop_down_circle</i>
      </div>
    </div>
    <div class="content" dropdown-content>
        <div class="book" *ngFor="let book of shelf.books" (click)="goToBook(book.id)">
          <app-book-preview [book]="book"></app-book-preview>
        </div>
    </div>
  </app-dropdown-row>
